{% extends 'blogs/index.html' %}
{% block header %}
<style>
	img{
		height:50%;
		width:50%;
		margin: 0 auto;
	}
</style>
{% endblock header %}
{% block content %}
<h2 class="text-center">
	This page is currently under construction!
	<img class='img-responsive' src="https://i.imgur.com/nwWJEWF.jpg"/>
</h2>
{% endblock content %}