{% if current != 0 %}
<form method="GET" action="{% url my_url %}">
	{% csrf_token %}
	<input id="prev" name="prev" type="hidden" value="{{current}}">
	<button type="submit" class="btn btn-primary btn-lg pull-left">Prev</button>
</form>
{% endif %}
{% if next != -1 %} 
<form method="GET" action="{% url my_url %}">
	{% csrf_token %}
	<input id="next" name="next" type="hidden" value="{{next}}">
	<button type="submit" class="btn btn-primary btn-lg pull-right">Next</button>
</form>
{% endif %}