{% extends 'blogs/index.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block header %}
<link rel="stylesheet" href="{% static 'blogs/css/blogs_styles.css' %}"/>
<h2>
	{% if years == 1%}
		{{ years }} year of experience
	{% else %}
		{{ years }} years of experience
	{% endif %}
</h2>
{% endblock header %}
{% block content %}
<ul>
	{% for exp in experience %}
		<div class = "panel panel-default">
			<div class="panel-heading">
				<h3>
					{{ exp.title|linebreaks }}
				</h3>
				<h5>
					{{ exp.started|date:'M d, Y' }} - 
					{{ exp.ended|date:'M d, Y' }}
					<br/>
				</h5>
			</div>
			<div class="panel-body">
				{% if exp.link != "" %}
					<img id="img{{exp.id}}"/>
				{% endif %}
				{{ exp.port_desc|linebreaks }}
				{% if exp.link != "" %}
					<a href="{{ exp.link }}">
						<div class = "alert alert-success" role = "alert">
							<strong>Hey!</strong> Click here to take a look at it!
						</div>
					</a>
				{% endif %}
			</div>
		</div>
	{% empty %}
		There are no entries yet!
	{% endfor %}
</ul>
<script>
	{% autoescape off %}
	var l = {{ test }};
	{% endautoescape %}
	{% if False %}
		
	var re = /herokuapp|localhost/
	for(var i = 0; i < l.length; i++){
		for(var key in l[i]){
			if(l[i].hasOwnProperty(key) && l[i][key] != ""){
				if(re.test(l[i][key])) l[i][key] = "";
			}
		}
	}
    var linkSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/portfolio/experience/');
        //'wss://' + window.location.host + 
		//'/wss/portfolio/experience/');
	
	linkSocket.onopen = function(e){
		linkSocket.send(
			JSON.stringify(
				{
					'img_gather_message' : {
						'links': l,
					}
				}
			)
		);
	}
	
	linkSocket.onmessage = function(e){
		var imgAdd;
		var data = JSON.parse(e.data);
		var imglinks = data.img_gather_message.links;
		for(var i = 0; i < imglinks.length; i++){
			for(var key in imglinks[i]){
				if(imglinks[i].hasOwnProperty(key) && imglinks[i][key] != ""){
					imgAdd = document.getElementById('img'+key);
					imgAdd.src = imglinks[i][key];
					imgAdd.classList.add("img-responsive");
					imgAdd.style.margin = "0 auto";
				}
			}
		}
		linkSocket.close();
	};
	//https://obfuscator.io/
	{% endif %}
	var _0x4c59=['onmessage','parse','data','links','getElementById','src','classList','img-responsive','style','margin','0\x20auto','close','length','hasOwnProperty','wss://','host','/wss/portfolio/experience/','onopen','send','stringify'];(function(_0x48cebe,_0x436034){var _0xbafaf4=function(_0x5f362){while(--_0x5f362){_0x48cebe['push'](_0x48cebe['shift']());}};_0xbafaf4(++_0x436034);}(_0x4c59,0x14c));var _0x46ec=function(_0x52c0af,_0x2a026d){_0x52c0af=_0x52c0af-0x0;var _0x336684=_0x4c59[_0x52c0af];return _0x336684;};var re=/herokuapp|localhost/;for(var i=0x0;i<l[_0x46ec('0x0')];i++){for(var key in l[i]){if(l[i][_0x46ec('0x1')](key)&&l[i][key]!=''){if(re['test'](l[i][key]))l[i][key]='';}}}var linkSocket=new WebSocket(_0x46ec('0x2')+window['location'][_0x46ec('0x3')]+_0x46ec('0x4'));linkSocket[_0x46ec('0x5')]=function(_0x1faa9c){linkSocket[_0x46ec('0x6')](JSON[_0x46ec('0x7')]({'img_gather_message':{'links':l}}));};linkSocket[_0x46ec('0x8')]=function(_0x25c885){var _0x173f4d;var _0x2d5f51=JSON[_0x46ec('0x9')](_0x25c885[_0x46ec('0xa')]);var _0xe45c6d=_0x2d5f51['img_gather_message'][_0x46ec('0xb')];for(var _0x4e954a=0x0;_0x4e954a<_0xe45c6d[_0x46ec('0x0')];_0x4e954a++){for(var _0x38033d in _0xe45c6d[_0x4e954a]){if(_0xe45c6d[_0x4e954a][_0x46ec('0x1')](_0x38033d)&&_0xe45c6d[_0x4e954a][_0x38033d]!=''){_0x173f4d=document[_0x46ec('0xc')]('img'+_0x38033d);_0x173f4d[_0x46ec('0xd')]=_0xe45c6d[_0x4e954a][_0x38033d];_0x173f4d[_0x46ec('0xe')]['add'](_0x46ec('0xf'));_0x173f4d[_0x46ec('0x10')][_0x46ec('0x11')]=_0x46ec('0x12');}}}linkSocket[_0x46ec('0x13')]();};
</script>
<script src="{% static 'blogs/js/fadeInLoad.js' %}"></script>
{% endblock content %}