{% extends 'blogs/index.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block header %}
<link rel="stylesheet" href="{% static 'blogs/css/modal_styles.css' %}"/>
{% endblock header %}
{% block content %}
<button class = 'btn btn-primary' id="myBtn">Test<button>
<div id="mContainer">
</div>
<script src="{% static 'blogs/js/Utils.js' %}"></script>
<script src="{% static 'blogs/js/Modal.js' %}"></script>
<script src="{% static 'portfolio/js/Portfolio.js' %}"></script>
<script src="{% static 'blogs/js/fadeInLoad.js' %}"></script>
{% endblock content %}