{% extends 'blogs/index.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block header %}
	<link rel="stylesheet" href="{% static 'youtube_playlist/css/styles.css' %}"/>
	
	<!-- <form action="{% url 'yt_auth'	%}" method='post' class='form'> -->
	<!-- {% csrf_token %} -->
		<!-- <button name="submit" class="btn btn-primary" id="ytauth"> -->
			<!-- Youtube Login -->
		<!-- </button> -->
	<!-- </form> -->
{% endblock header %}
{% block content %}

<h3>
	Enter your Youtube playlist URL:
</h3>
<form action="{% url 'yt_shuffle' %}" method="get" class="form">
	{% csrf_token %}
	{% bootstrap_form ytform %}
	
	{% buttons %}
	<button name="submit" class="btn btn-primary" id='validate'>
		Shuffle This
	</button>
	{% endbuttons %}
</form>
<div id='loadInvalidMsg'></div>
<div class = 'panel panel-info'>
	<div class ='panel-heading playlist-container'>
		<table class="table playlist-table text-center">
			<tr>
				<td>
					<ul class="nav nav-pills" id="current-section">
						<li role="presentation" id="plist-display"><a href="#">Playlists</a></li>
						<li role="presentation" id="song-display" class="active"><a href="#">Songs</a></li>
					</ul>
				</td>
			</tr>
		</table>
		<div class="playlist-container">
			<table class="table playlist-table text-center">
				<tr id="addListHere">
					<td>
						<img class="data-img" src="https://i.ytimg.com/vi/UP45zY2Nrms/hqdefault.jpg"/>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="embed-responsive embed-responsive-16by9 giveMeScreen">
		<div class = 'panel-body'>
			<div id = 'yt_shuffler'>
			</div>
		</div>
		
	</div>
	<div class = 'panel-footer container-fluid text-center'>
		<div class="row">
			<button class='col-md-2 btn btn-default' id='back'>
				<span class="glyphicon glyphicon-step-backward"></span>
			</button>
			<button class='col-md-2 btn btn-default' id='play_pause'>
				<span class="glyphicon glyphicon-play"></span><strong>/</strong><span class="glyphicon glyphicon-pause"></span>
			</button>
			<button class='col-md-2 btn btn-default' id='next'>
				<span class="glyphicon glyphicon-step-forward"></span>
			</button>
			<button class='col-md-3 btn btn-default' id='shuffle'>
				<span class="glyphicon glyphicon-random"></span>
			</button>
			<button class='col-md-3 btn btn-default fullscreen'>
				<span class="glyphicon glyphicon-fullscreen"></span>
			</button>
		</div>
	</div>
</div>
<script id='beforeMe'>

{% autoescape off %}
var playlists = {{lists}};
var videoids;
(playlists.length > 0) ? videoids = playlists[0]['videos'] : videoids = [];
{% endautoescape %}
{% if True %}
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var playlist_shuffler = document.getElementById('beforeMe');
playlist_shuffler.parentNode.insertBefore(tag, playlist_shuffler);

var player, interaction = false;

function playNext(e){
	if(videoids === undefined || videoids.length < 2) return;
	player.loadVideoById(videoids[1].id);
	player.playVideo();
	videoids.push(videoids[0]);
	videoids.shift();
	createCarousel(videoids);
}
function errorVID(m){
	console.log(m);
	if(videoids === undefined || videoids.length < 2) return;
	player.loadVideoById(videoids[1].id);
	player.playVideo();
	videoids.shift();
	createCarousel(videoids);
}
function playPrev(e){
	if(videoids === undefined || videoids.length < 2) return;
	player.loadVideoById(videoids[videoids.length-1].id);
	player.playVideo();
	videoids.splice(0, 0, videoids[videoids.length-1]);
	videoids.pop();
	createCarousel(videoids);
}
function togglePlay(){
	if(player.getPlayerState() != 1){
		player.playVideo();
	}else{
		player.pauseVideo();
	}
};
function createCarousel(info, plist=false){
	if(info.length < 1) return;
	var c = document.getElementById('addListHere');
	c.innerHTML = "";
	var td = "";
	for(var i = 0; i < info.length; i++){
		if(plist){td = "<td id='moveto"+ i +"' onclick='clickToPlay(" + i + ", true)'><img class='data-img' src='"+ info[i]['img'] +"'/></td>";}
		else{ td = "<td id='moveto"+ i +"' onclick='clickToPlay(" + i + ")'><img class='data-img' src='"+ info[i]['img'] +"'/></td>";}
		c.innerHTML += td;
	}
	document.getElementById('moveto0').innerHTML += "Now Playing";
}
function loadPlaylistSongBar(){
	var check = document.getElementById('song-display');
	if(check.className == 'active'){
		check.className = "";
		document.getElementById('plist-display').className = 'active';
		createCarousel(playlists, true);
		return;
	}
	check.className = 'active';
	document.getElementById('plist-display').className = '';
	createCarousel(videoids);
}
function shuffle(){
	if(videoids === undefined || videoids.length < 2) return;
	//fisher-yates shuffle https://bost.ocks.org/mike/shuffle/
	for (let i = videoids.length - 1; i > 0; i--) {
		const j = Math.floor(Math.random() * (i + 1));
		[videoids[i], videoids[j]] = [videoids[j], videoids[i]];
	}
	createCarousel(videoids);
}
function clickToPlay(index, plist=false){
	if(index == 0) return;
	if(plist){
		return;
	}
	if(videoids.length - index > videoids.length/2) {
		console.log('left');
		while(index != 0){
			videoids.push(videoids[0]);
			videoids.shift();
			index -= 1;
		}
	}
	else {
		console.log('right');
		while(index != videoids.length){
			videoids.splice(0, 0, videoids[videoids.length-1]);
			videoids.pop();
			index += 1;
		}
	}
	player.loadVideoById(videoids[0].id);
	player.playVideo();
	createCarousel(videoids);
}
function onPlayerReady(event){
	if(videoids.length > 0) player.cueVideoById(videoids[0]['id']);
}
function onPlayerStateChange(event){
	if(player.getPlayerState() == 0) playNext();
}
function checkError(e){
	switch(e.data){
		case 2:
			errorVID("Invalid video ID for " + videoids[0] + ". Removing.");
			break;
		case 5:
			errorVID(videoids[0] + " may not be playable in HTML5 player. Removing.");
			break;
		case 100:
			errorVID(videoids[0] + " is private or removed. Removing.");
			break;
		case 101:
		case 150:
			errorVID("Owner of " + videoids[0] + " does not allow playback in embedded players. Removing.");
			break;
		default:
			console.log('Unknown error in youtube player.');
			break;
	}
}
function onYouTubeIframeAPIReady(){
	player = new YT.Player('yt_shuffler', {
		videoId:'UP45zY2Nrms',
		playerVars:{
			color: 'white',
			autoplay:0,
			controls: 0,
			disablekb: 1,
			showinfo: 0,
			rel: 0,
		},
		events: {
			'onReady':onPlayerReady,
			'onStateChange':onPlayerStateChange,
			'onError':checkError,
		}
	});
	createCarousel(videoids);
}
document.getElementById('plist-display').onclick = loadPlaylistSongBar;
document.getElementById('song-display').onclick = loadPlaylistSongBar;
document.getElementById('back').onclick = playPrev;
document.getElementById('play_pause').addEventListener('click', togglePlay);
document.getElementById('next').onclick = playNext;
document.getElementById('shuffle').onclick = function(e){
	shuffle();
	player.loadVideoById(videoids[0].id);
	player.playVideo();
};
/*document.getElementById('ytauth').onclick = function(e){
	window.open("{% url 'yt_auth' %}");
};*/
$('.fullscreen').click(function(e){
	if($('.giveMeScreen').is('#yt_fullscreen')){
		$('.giveMeScreen').removeAttr('id');
		$('.fullscreen').removeAttr('id');
	}else{
		$('.giveMeScreen').attr('id', 'yt_fullscreen');
		$('.fullscreen').attr('id','fullscreen-clicked');
	}
});
//https://obfuscator.io/
{% endif %}
//var _0x1325=['img','song-display','className','active','plist-display','floor','random','left','right','splice','data','Invalid\x20video\x20ID\x20for\x20','.\x20Removing.','\x20may\x20not\x20be\x20playable\x20in\x20HTML5\x20player.\x20Removing.','Owner\x20of\x20','\x20does\x20not\x20allow\x20playback\x20in\x20embedded\x20players.\x20Removing.','Player','yt_shuffler','UP45zY2Nrms','white','onclick','back','play_pause','addEventListener','click','next','shuffle','.fullscreen','.giveMeScreen','#yt_fullscreen','removeAttr','attr','yt_fullscreen','fullscreen-clicked','createElement','script','src','https://www.youtube.com/iframe_api','getElementById','beforeMe','parentNode','insertBefore','length','loadVideoById','push','shift','log','playVideo','pop','getPlayerState','pauseVideo','addListHere','innerHTML','<td\x20id=\x27moveto','\x27\x20onclick=\x27clickToPlay(',',\x20true)\x27><img\x20class=\x27data-img\x27\x20src=\x27','\x27/></td>',')\x27><img\x20class=\x27data-img\x27\x20src=\x27'];(function(_0x1c119d,_0x428010){var _0xb2004b=function(_0x21bed4){while(--_0x21bed4){_0x1c119d['push'](_0x1c119d['shift']());}};_0xb2004b(++_0x428010);}(_0x1325,0xd0));var _0x7c91=function(_0x5cbda9,_0x494c74){_0x5cbda9=_0x5cbda9-0x0;var _0x47b344=_0x1325[_0x5cbda9];return _0x47b344;};var tag=document[_0x7c91('0x0')](_0x7c91('0x1'));tag[_0x7c91('0x2')]=_0x7c91('0x3');var playlist_shuffler=document[_0x7c91('0x4')](_0x7c91('0x5'));playlist_shuffler[_0x7c91('0x6')][_0x7c91('0x7')](tag,playlist_shuffler);var player;function playNext(_0x55f30c){if(videoids===undefined||videoids[_0x7c91('0x8')]<0x2)return;player[_0x7c91('0x9')](videoids[0x1]['id']);player['playVideo']();videoids[_0x7c91('0xa')](videoids[0x0]);videoids[_0x7c91('0xb')]();createCarousel(videoids);}function errorVID(_0x1d668b){console[_0x7c91('0xc')](_0x1d668b);if(videoids===undefined||videoids['length']<0x2)return;player[_0x7c91('0x9')](videoids[0x1]['id']);player[_0x7c91('0xd')]();videoids[_0x7c91('0xb')]();createCarousel(videoids);}function playPrev(_0x460a37){if(videoids===undefined||videoids[_0x7c91('0x8')]<0x2)return;player[_0x7c91('0x9')](videoids[videoids['length']-0x1]['id']);player[_0x7c91('0xd')]();videoids['splice'](0x0,0x0,videoids[videoids[_0x7c91('0x8')]-0x1]);videoids[_0x7c91('0xe')]();createCarousel(videoids);}function togglePlay(){if(player[_0x7c91('0xf')]()!=0x1){player[_0x7c91('0xd')]();}else{player[_0x7c91('0x10')]();}};function createCarousel(_0x4defb1,_0x5cbe05=![]){if(_0x4defb1[_0x7c91('0x8')]<0x1)return;var _0x3ca5ab=document[_0x7c91('0x4')](_0x7c91('0x11'));_0x3ca5ab[_0x7c91('0x12')]='';var _0x3d3b00='';for(var _0x35af20=0x0;_0x35af20<_0x4defb1[_0x7c91('0x8')];_0x35af20++){if(_0x5cbe05){_0x3d3b00=_0x7c91('0x13')+_0x35af20+_0x7c91('0x14')+_0x35af20+_0x7c91('0x15')+_0x4defb1[_0x35af20]['img']+_0x7c91('0x16');}else{_0x3d3b00='<td\x20id=\x27moveto'+_0x35af20+'\x27\x20onclick=\x27clickToPlay('+_0x35af20+_0x7c91('0x17')+_0x4defb1[_0x35af20][_0x7c91('0x18')]+_0x7c91('0x16');}_0x3ca5ab[_0x7c91('0x12')]+=_0x3d3b00;}document[_0x7c91('0x4')]('moveto0')['innerHTML']+='Now\x20Playing';}function loadPlaylistSongBar(){var _0xe8afb1=document['getElementById'](_0x7c91('0x19'));if(_0xe8afb1[_0x7c91('0x1a')]==_0x7c91('0x1b')){_0xe8afb1['className']='';document[_0x7c91('0x4')](_0x7c91('0x1c'))[_0x7c91('0x1a')]=_0x7c91('0x1b');createCarousel(playlists,!![]);return;}_0xe8afb1[_0x7c91('0x1a')]=_0x7c91('0x1b');document[_0x7c91('0x4')](_0x7c91('0x1c'))[_0x7c91('0x1a')]='';createCarousel(videoids);}function shuffle(){if(videoids===undefined||videoids['length']<0x2)return;for(let _0x396e4e=videoids[_0x7c91('0x8')]-0x1;_0x396e4e>0x0;_0x396e4e--){const _0x3e6c8a=Math[_0x7c91('0x1d')](Math[_0x7c91('0x1e')]()*(_0x396e4e+0x1));[videoids[_0x396e4e],videoids[_0x3e6c8a]]=[videoids[_0x3e6c8a],videoids[_0x396e4e]];}createCarousel(videoids);}function clickToPlay(_0x1db619,_0x1d1274=![]){if(_0x1db619==0x0)return;if(_0x1d1274){return;}if(videoids[_0x7c91('0x8')]-_0x1db619>videoids[_0x7c91('0x8')]/0x2){console[_0x7c91('0xc')](_0x7c91('0x1f'));while(_0x1db619!=0x0){videoids[_0x7c91('0xa')](videoids[0x0]);videoids[_0x7c91('0xb')]();_0x1db619-=0x1;}}else{console[_0x7c91('0xc')](_0x7c91('0x20'));while(_0x1db619!=videoids[_0x7c91('0x8')]){videoids[_0x7c91('0x21')](0x0,0x0,videoids[videoids['length']-0x1]);videoids[_0x7c91('0xe')]();_0x1db619+=0x1;}}player[_0x7c91('0x9')](videoids[0x0]['id']);player[_0x7c91('0xd')]();createCarousel(videoids);}function onPlayerReady(_0x5294f5){if(videoids[_0x7c91('0x8')]>0x0)player[_0x7c91('0x9')](videoids[0x0]['id']);}function onPlayerStateChange(_0x58fefd){if(player[_0x7c91('0xf')]()==0x0)playNext();}function checkError(_0xb46a02){switch(_0xb46a02[_0x7c91('0x22')]){case 0x2:errorVID(_0x7c91('0x23')+videoids[0x0]+_0x7c91('0x24'));break;case 0x5:errorVID(videoids[0x0]+_0x7c91('0x25'));break;case 0x64:errorVID(videoids[0x0]+'\x20is\x20private\x20or\x20removed.\x20Removing.');break;case 0x65:case 0x96:errorVID(_0x7c91('0x26')+videoids[0x0]+_0x7c91('0x27'));break;default:console[_0x7c91('0xc')]('Unknown\x20error\x20in\x20youtube\x20player.');break;}}function onYouTubeIframeAPIReady(){player=new YT[(_0x7c91('0x28'))](_0x7c91('0x29'),{'videoId':_0x7c91('0x2a'),'playerVars':{'color':_0x7c91('0x2b'),'autoplay':0x1,'controls':0x0,'disablekb':0x1,'showinfo':0x0,'rel':0x0},'events':{'onReady':onPlayerReady,'onStateChange':onPlayerStateChange,'onError':checkError}});createCarousel(videoids);}document[_0x7c91('0x4')](_0x7c91('0x1c'))[_0x7c91('0x2c')]=loadPlaylistSongBar;document['getElementById'](_0x7c91('0x19'))['onclick']=loadPlaylistSongBar;document['getElementById'](_0x7c91('0x2d'))['onclick']=playPrev;document['getElementById'](_0x7c91('0x2e'))[_0x7c91('0x2f')](_0x7c91('0x30'),togglePlay);document[_0x7c91('0x4')](_0x7c91('0x31'))['onclick']=playNext;document['getElementById'](_0x7c91('0x32'))[_0x7c91('0x2c')]=function(_0x402c1e){shuffle();player[_0x7c91('0x9')](videoids[0x0]['id']);player[_0x7c91('0xd')]();};$(_0x7c91('0x33'))[_0x7c91('0x30')](function(_0x10eeb7){if($(_0x7c91('0x34'))['is'](_0x7c91('0x35'))){$(_0x7c91('0x34'))[_0x7c91('0x36')]('id');$(_0x7c91('0x33'))[_0x7c91('0x36')]('id');}else{$('.giveMeScreen')[_0x7c91('0x37')]('id',_0x7c91('0x38'));$(_0x7c91('0x33'))['attr']('id',_0x7c91('0x39'));}});
</script>

<script src="{% static 'blogs/js/fadeInLoad.js' %}"></script>
<script src="{% static 'youtube_playlist/js/yt_url_validation.js' %}"></script>

{% endblock content %}