*{
	font-family: 'Abel', sans-serif;
	font-variant-ligatures: none;
}
body{
	margin:0;
	overflow-x:hidden;
}
canvas{
	position:absolute;
	left:0;
	top:0;
	width:100%;height:100%;
	z-index:-30;
}
#currentFace{
	-webkit-animation-name: navLeave;
	-webkit-animation-duration: 0.25s;
	-moz-animation-name: navLeave;
	-moz-animation-duration: 0.25s;
	animation-name: navLeave;
	animation-duration: 0.25s;
	box-shadow: 7.5px 5px 5px #4E81A0;
}
#currentFace:hover{
	-webkit-animation-name: navHover;
	-webkit-animation-duration: 0.25s;
	-moz-animation-name: navHover;
	-moz-animation-duration: 0.25s;
	animation-name: navHover;
	animation-duration: 0.25s;
	box-shadow: 15px 10px 10px #4E81A0;
}
#navStyleCanvas{
	text-align:center;
	padding:5px;
	position:fixed;
	left:0;
	top:10px;
	background-color:white;
	color:black !important;
	font-family: 'Inconsolata', sans-serif;
	border-radius: 5px;
	border: 2.5px double black;
	-webkit-animation-name: canvasButtonGrad;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-name: canvasButtonGrad;
	-moz-animation-duration: 4s;
	-moz-animation-iteration-count: infinite;
	animation-name: canvasButtonGrad;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
#navStyleCanvas:hover{
	color:black;
	text-shadow: 2px 1px 1px gray;
	-webkit-animation: 0;
	-moz-animation: 0;
	animation: 0;
}