{% load staticfiles %}
{% load bootstrap3 %}
<!doctype HTML>
<html>
  <head>
    <title>
      HAPPY BIRTHDAY, FABBY!!!
    </title>

    <link rel="icon"
          type="image/png"
          href="{% static 'blogs/media/gift-box.png' %}"">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'blogs/css/birthday-styles.css' %}"/>
  </head>
  <body class='container'>
    <div id="card">
    <div id="card-inside">
      <div class="wrap">
        <p>To the Queen!</p>
        <p>I thought it would be cool to make you a card you can... just click through!</p>
        <p>Whenever you felt like!  If this is too much, then I can make it private... or just flat out remove it.</p>
        <p>Whatever works!  I've got some things you can click on here so give them a look through.</p>
        <p style="height:15px"><!--<a id="fireworks" class="btn btn-primary">Fireworks!</a>--><button id="reasons" style="margin-left:5px" class="btn btn-success">Reasons!</button></p>
        <p class="signed">Lorenzo</p>
      </div>
    </div>

    <div id="card-front">
      <div class="wrap">
        <h1>Happy Birthday</h1>
        <img src="{% static 'blogs/media/crowns.png' %}"/>
        <h1>Fabby!</h1>
      </div>
      <div id="card-front-inside" class='container'>
      </div>
      <button id="open">&gt;</button>
      <button id="close">&lt;</button>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  <script>
    function randomINT(upper){
      return Math.floor(Math.random() * upper);
    }
    function assignReason(reason){
      var firstCHILD = "<h2>Reasons you're the best!</h2>";
      var changeMe = $("#card-front-inside");
      switch(reason.type){
        case "image/png":
          changeMe.html(firstCHILD +
            "<img class='img-fluid' src ='https://lh-django-blog.herokuapp.com/staticfiles/blogs/media/"+reason.name+".png'/>" +
            "<p>"+reason.text+"</p>");
          break;
        case "image/jpg":
          changeMe.html(firstCHILD +
            "<img class='img-fluid' src ='https://lh-django-blog.herokuapp.com/staticfiles/blogs/media/"+reason.name+".jpg'/>" +
            "<p>"+reason.text+"</p>");
          break;
        case "text":
          changeMe.html(firstCHILD + "<p>"+reason.content+"</p>");
          break;
        default:
          break;
      }
    }
    var reasonsJSON = {"reasons":
      [
        {
          "type":"image/jpg",
          "name":"sounds-right",
          "text":"Looks like Apple knows what's up."
        },
        {
          "type":"text",
          "content":"I once weighed 240lbs.  TWO HUNDRED AND FOURTY POUNDS! Thanks to you, or... well thanks our bet! ...AND not wanting to lose $500! I lost 70lbs."
        },
        {
          "type":"text",
          "content":"Look at where you're at now.  All the crap you had to go through (some of that maybe my fault.  I'm sorry!!), BUT LOOK AT YOUR BRAND NEW HOUSE!! YOUR PORSCHE PANAMERA!! This only the beginning for you!"
        },
        {
          "type":"text",
          "content":"Three beautiful girls and they're all amazing thanks to you!  I wish I could have pancakes made for me on my birthday! (I'm sure you'd like that more often, though. Lol)"
        },
        {
          "type":"image/png",
          "name":"big-oof",
          "text":"This is eye-opening."
        },
        {
          "type":"text",
          "content":"THIS WHOLE THING IS MAINLY TO SAY HAPPY BIRTHDAY!!! HAPPY 19TH BIRTHDAY!!! 😜 😊 "
        },
        {
          "type":"text",
          "content":"There are many things you can do, tons things you have planned, and loads of things you HAVE ALREADY DONE! It only takes one!"
        },
        {
          "type":"text",
          "content":"Had I stayed with my parents... I could be 300lbs... with 100 times the debt!  AND HUGE, HUGE PUSHOVER!!  Thank you... so much."
        },
        {
          "type":"text",
          "content":"I feel like I can sit here all night and come up with a lot of reasons, but I want to show you this.  More than anything, I'm so grateful to have you as a friend.  This something I have a hard time putting into words, but you mean a lot to me.  Hope I can help you out with whatever I can and I hope you have the HAPPIEST OF BIRTHDAYS!!"
        }
      ]
    };
    var reason = reasonsJSON["reasons"][randomINT(reasonsJSON["reasons"].length)];
    assignReason(reason);

    var card = $('#card'),
        openB = $('#open'),
        closeB = $('#close'),
        reasons = $('#reasons'),
        fireworks= $('#fireworks')
        timer = null;
    openB.on('click', function () {
      card.removeClass('close-half');
      card.addClass('open-half');
      if (timer) clearTimeout(timer);
      timer = setTimeout(function () {
        card.removeClass('open-half');
        card.addClass('open-fully');
        timer = null;
      }, 1000);
    });
    reasons.on('click touchstart', function(){
      $("#card-front-inside").css("opacity", "1");
      var reason = reasonsJSON["reasons"][randomINT(reasonsJSON["reasons"].length)];
      assignReason(reason);
    });
    closeB.on('click', function () {
      card.removeClass('open-fully');
      card.removeClass('open-half');
      card.addClass('close-half');
      if (timer) clearTimerout(timer);
      timer = setTimeout(function () {
        $("#card-front-inside").css("opacity", "0");
        card.removeClass('close-half');
        timer = null;
      }, 1000);
    });
  </script>
  </body>
</html>
