{% extends 'blogs/index.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{{ content|safe }}

{% block header %}
<link rel="stylesheet" href="{% static 'blogs/css/blogs_styles.css' %}"/>
<h1>
	Blogposts
</h1>
{% endblock header %}
{% block content %}

<form action="{% url 'new_post' %}" method='post' class='form'>
	{% csrf_token %}
	{% buttons %}
	<button ="{% url 'new_post' %}" class="btn btn-primary">
		Add a new post
	</button>
	{% endbuttons %}
</form>

<ul>
	{% for post in blogposts %}
		<div class = "panel panel-default">
			<div class="panel-heading">
				<h3>
					{{ post.title|linebreaks }}
				</h3>
				<h5>
					{{ post.date_added|date:'M d, Y H:i' }}
					<br/>
					{% if post.owner.username == 'll_admin' %}
						Admin
					{% else %}
						{{ post.owner }}
					{% endif %}
					{% if post.owner.username == user.username %}
						<small>
							<a href="{% url 'edit_post' post.id %}">
								edit
							</a>
						</small>
					{% endif %}
				</h5>
			</div>
			<div class="panel-body">
				{% autoescape off %}
					{{ post.text|linebreaks }}
				{% endautoescape %}
			</div>
		</div>
	{% empty %}
		There are no entries yet!
	{% endfor %}
	{% include 'next_prev.html' with my_url='blogs'%}
</ul>
<script src="{% static 'blogs/js/fadeInLoad.js' %}"></script>
{% endblock content %}