{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang='en'>
	<head>
		<title>
			Robo-Doggo
		</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		{% bootstrap_css %}
		{% if not user.is_superuser %}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120932750-1"></script>
		<script>
		var re = /localhost/;
		if(!re.test(window.location.href)){
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-120932750-1');
		}
		
		</script>
		{% endif %}
	</head>
	<style>
		body{
			margin:0;
			overflow-x:hidden;
			overflow-y:hidden;
			height:100%;
			width: 100%;
			position:fixed;
		}
		canvas{
			width:100%;
			height:100%;
			position:absolute;
			top:0;
			left:0;
			z-index:-1 !important;
			touch-action:none;
		}
		.ui{
			font-family: 'Source Code Pro', monospace;
			position:absolute;
			top:1%;
			left:25%;
			color:white;
			z-index:100;
			text-align:center;
		}
		#pauseplay{ 
			color:white;
			font-size:200%;
		}
	</style>
<body>
{% block header %}
{% endblock header %}
{% block content %}
<!-- <div class='ui' id="scoreDisplay">Score:<br>0</div> -->
<!-- <div class='ui' id="dead"></div> -->
<!-- <div class='ui' id='pauseplay'><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></div> -->
<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.6.1/gl-matrix.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/94/three.js'></script>
<script src="{% static 'blogs/js/OBJLoader.js' %}"></script>
<script src="{% static 'blogs/js/Doggo.js' %}"></script>
<script>
<!-- g.setEnvMap('{% static "blogs/media/html.png" %}'); -->
g.loadObj('{% static "blogs/media/aWolf.glb" %}', 'doggo');
</script>
{% endblock content %}
</body>
</html>