{% extends 'blogs/index.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block header %}
	<link rel="stylesheet" href="{% static 'blogs/css/input_styles.css' %}"/>
<h2>
	<a href = "{% url 'edit_post' post.id %}">
		{{ post.title }}
	</a>
</h2>
{% endblock header %}

{% block content %}
<h3>
	Edit entry:
</h3>
<form action="{% url 'edit_post' post.id %}" method="post" class="form">
	{% csrf_token %}
	{% bootstrap_form blogpost %}
	
	{% buttons %}
	<button name="submit" class="btn btn-primary">
		Edit Entry
	</button>
	{% endbuttons %}
	
</form>
{% endblock content %}