{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
<body>
{% block header %}
	<link rel="stylesheet" href="{% static 'blogs/css/styles.css' %}"/>
{% endblock header %}
{% block content %}
<div id='stretch'>
	<canvas id="draw-here">
		Your browser does not support the CANVAS element.
		Try the latest Firefox, Google Chrome, Safari or Opera.
	</canvas>
	<canvas class="text-box" id='display-here'></canvas>
	<canvas class="text-box" id='write-here'></canvas>
	<canvas class="text-box" id='cmd-display'></canvas>
	<input type='text' id ="canvasCursor"/>
</div>
<script src="{% static 'blogs/js/Canvas.js' %}"></script>
<script src="{% static 'blogs/js/BackgroundSceneElements.js' %}"></script>
<script src="{% static 'blogs/js/UIElements.js' %}"></script>
<script src="{% static 'blogs/js/main.js' %}"></script>
{% endblock content %}
</body>
</html>
