{% load bootstrap3 %}
{% load staticfiles %}
{{ content|safe }}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		
		<title>
			Lorenzo Hernandez
		</title>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<link href="https://fonts.googleapis.com/css?family=Abel|IM+Fell+English+SC|Libre+Baskerville|Merriweather|Inconsolata|VT323" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		{% bootstrap_css %}
		{% bootstrap_javascript jquery=0 %}
		<link rel="stylesheet" href="{% static 'blogs/css/styles.css' %}"/>
		
		{% if not user.is_authenticated and not user.is_superuser %}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120932750-1"></script>
		<script>
		var re = /localhost/;
		if(!re.test(window.location.href)){
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-120932750-1');
		}
		
		</script>
		{% endif %}
		
	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top" id='thisSize'>
			<div class = "container" id='bgChange'>
				<a id='removeMeInProjects' href="{% url 'secret' %}">
					<div id='navStyleCanvas' >Canvas<br/>
					Version
					</div>
				</a>
				<div class="navbar-header" id="incomingLeft">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar"
						aria-expanded="false" aria-controls="navbar">
					</button>
					<a class='navbar-brand' href="{% url 'index' %}">
						<div class='nav-text'>Home</div>
					</a>
					<a class="navbar-brand" href="{% url 'blogs' %}">
						<div class='nav-text'>Blog</div>
					</a>
					<div class="navbar-brand dropdown">
						<div class='nav-text'>
						<a href="#" class="dropdown-toggle" id='hoverExpand' data-toggle="dropdown" role="button"
							aria-haspopup="true" aria-expanded='false'>My Work<span class="caret"></span></a>
							<ul class="dropdown-menu" id='nav-dropdown'>
								<li class="dDown" ><a href="{% url 'experience' %}">Experience</a></li>
								<li class="dDown" ><a href="{% url 'projects' %}">Projects</a></li>
							</ul>
						</div>
					</div>
				</div>
				
				<div id="navbar" class="navbar-collapse collapse"> 
					
					<ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated %}
						<li>
							<a>Hello, {{ user.username }}!</a>
						</li>
						<li>
							<a href="{% url 'documentation' %}">
								API
							</a>
						</li>
						<li>
							<a href="{% url 'logout' %}">
								Log Out
							</a>
						</li>
						{% else %}
						<li>
							<a href="{% url 'send-email' %}">
								Register
							</a>
						<li>
							<a href="{% url 'documentation' %}">
								API
							</a>
						</li>
							<a href="{% url 'login' %}">
								Log In
							</a>
						</li>
						{% endif %}
					</ul>
				</div>
				<!-- .nav-collapse -->
			</div>
		</nav>
		
		<div class="container">
				{% block header %}
				<link rel="stylesheet" href="{% static 'blogs/css/home_styles.css' %}"/>
				<div id ="topContainer">
					<img class='leftToRight' id='topbg' src = "https://i.imgur.com/Khcspvi.jpg"/>
					<div id="text-top-left">Lorenzo Hernandez</div>
					<div id="text-bottom-right">Shaver Lake</div>
					<span class="glyphicon glyphicon-chevron-left carouselButtons" id="goLeft" 
						aria-hidden="true"></span>
					<span class="glyphicon glyphicon-chevron-right carouselButtons" id="goRight" 
						aria-hidden="true"></span>
				</div>
				{% endblock header %}
		</div>
		<div class="container mainFade">
			{% block content %}
			
			<div class = "panel panel-default pieces" id="blogpost">
				<div class = "p-title">
					Blog
				</div>
				<div class="panel-heading text-center">
					<h3>
						{{ post.title|linebreaks }}
					</h3>
					<h5>
						Lorenzo
					</h5>
				</div>
				<div class="panel-body">
					<a class="btn btn-block btn-primary myBtn" href="{% url 'blogs' %}">Go to blog</a>
				</div>
			</div>
			<div class = "panel panel-default pieces" id="projectexample">
				<div class = "p-title">
					Projects
				</div>
				<div class="panel-heading">
					<table class='table'>
						<tr>
						{% for p in project %}
							<td class='text-center'>{{p.title}}</td>
						{% endfor %}
						</tr>
						<tr>
						{% for p in project %}
							<td>
								<a href="{{p.link}}">
									<img class="individual-project center-block" src = "{{ p.img }}" title="{{ p.title }}"/>
								</a>
							</td>
						{% endfor %}
					</table>
				</div>
				<div class="panel-body">
					<a class="btn btn-block btn-primary myBtn" href="{% url 'projects' %}">See More</a>
				</div>
			</div>
			<script src="{% static 'blogs/js/reshape.js' %}"></script>
		{% endblock content %}
		</div>
		<script>
			document.getElementById('hoverExpand').onclick = function(e){
				console.log(e);
			}
		console.log('{% static "blogs/media/bg7-7.jpg" %}');
		console.log('{% static "blogs/media/bg8-5.jpg" %}');
		console.log('{% static "blogs/media/bg9-5.jpg" %}');
		</script>
			<!-- The following is pretty useful in debugging mobile version of the site -->
			<!-- <script src="{% static 'blogs/js/mbConsole.js' %}"></script> -->
		<script src="{% static 'blogs/js/cProjectRemove.js' %}"></script>
		<!-- <footer class="footer"> -->
			<!-- <div class="container"> -->
				<!-- <p class="text-muted">Place sticky footer content here.</p> -->
			<!-- </div> -->
		<!-- </footer> -->
		</div>
	</body>
</html>