{% load bootstrap3 %}
{% load staticfiles %}
{{ content|safe }}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<title>
			Lorenzo Hernandez
		</title>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<link href="https://fonts.googleapis.com/css?family=Abel|IM+Fell+English+SC|Libre+Baskerville|Merriweather|Inconsolata|VT323" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		{% bootstrap_css %}
		{% bootstrap_javascript jquery=0 %}
		<link rel="stylesheet" href="{% static 'blogs/css/styles.css' %}"/>

		{% if not user.is_superuser %}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120932750-1"></script>
		<script>
		var re = /localhost/;
		if(!re.test(window.location.href)){
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-120932750-1');
		}

		</script>
		{% endif %}

	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top" id='thisSize'>
			<div class = "container" id='bgChange'>
				<a id='removeMeInProjects' href="{% url 'secret' %}">
					<div class="readjustables" id='navStyleCanvas'>Canvas
					</div>
				</a>
				<div class="navbar-header" id="incomingLeft">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar"
						aria-expanded="false" aria-controls="navbar">
					</button>
					<a class='navbar-brand' href="{% url 'index' %}">
						<div class='nav-text'>Home</div>
					</a>
					<a class="navbar-brand" href="{% url 'blogs' %}">
						<div class='nav-text'>Blog</div>
					</a>
					<div class="navbar-brand dropdown">
						<div class='nav-text'>
						<a href="#" class="dropdown-toggle" id='hoverExpand' data-toggle="dropdown" role="button"
							aria-haspopup="true" aria-expanded='false'>Projects<span class="caret"></span></a>
							<ul class="dropdown-menu" id='nav-dropdown'>
								<li class="dDown" ><a href="{% url 'yt_shuffle' %}">Youtube Shuffler</a></li>
								<li class="dDown" ><a href="{% url 'ticker' %}">Stock Chat</a></li>
								<li class="dDown" ><a href="{% url 'dontpushme' %}">Don't Push Me</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div id="navbar" class="navbar-collapse collapse">

					<ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated %}
						<li>
							<a>Hello, {{ user.username }}!</a>
						</li>
						<li>
							<a href="{% url 'documentation' %}">
								API
							</a>
						</li>
						<li>
							<a href="{% url 'logout' %}">
								Log Out
							</a>
						</li>
						{% else %}
						<li>
							<a href="{% url 'send-email' %}">
								Register
							</a>
						<li>
							<a href="{% url 'documentation' %}">
								API
							</a>
						</li>
						<li>
							<a href="{% url 'login' %}">
								Log In
							</a>
						</li>
						{% endif %}
					</ul>
				</div>
				<!-- .nav-collapse -->
			</div>
		</nav>
		<div class="container">
				{% block header %}
				<link rel="stylesheet" href="{% static 'blogs/css/home_styles.css' %}"/>
				<link rel="stylesheet" href="{% static 'blogs/css/modal_styles.css' %}"/>
				<a href='{% url "experience" %}'><div id="currentFace">Experience</div></a>
				{% endblock header %}
		</div>
		<div class="container mainFade">
			{% block content %}

		<div class="modal fade" role="dialog" data-backdrop="false" id="exModal">
			<div class="modal-dialog" >
			  <div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-center" id="modalMsg">
					</h4>
				</div>
				<div class="modal-body blackTextOverride">
				</div>
				<div class="modal-footer">
					<button class='btn btn-block btn-primary pull-right' id="user-action"></button>
				</div>
			  </div>

			</div>
		</div>

			<script src='https://cdnjs.cloudflare.com/ajax/libs/gl-matrix/2.6.1/gl-matrix.js'></script>
			<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/94/three.js'></script>
			<script src="{% static 'blogs/js/Utils.js' %}"></script>
			<script src="{% static 'blogs/js/Modal.js' %}"></script>
			<script src="{% static 'blogs/js/Home.js' %}"></script>
			<script>
			h.loadTextures(['{% static "blogs/media/blog.png" %}',
			'{% static "blogs/media/experience.png" %}',
			'{% static "blogs/media/linkedin.png" %}',
			'{% static "blogs/media/contact.png" %}',
			'{% static "blogs/media/projects.png" %}',
			'{% static "blogs/media/about.png" %}']);
			h.loadLinks([
				'{% url "blogs" %}',
				'#',
				'https://www.linkedin.com/in/lorhernandez/',
				'#',
				'#',
				'#',
			]);
			h.createCube();
			</script>
			{% endblock content %}
		</div>
			<!-- The following is pretty useful in debugging mobile version of the site -->
			<!-- <script src="{% static 'blogs/js/mbConsole.js' %}"></script> -->
		<script src="{% static 'blogs/js/cProjectRemove.js' %}"></script>
		</div>
	</body>
</html>
