{% extends 'blogs/index.html' %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block header %}
	<link rel="stylesheet" href="{% static 'blogs/css/input_styles.css' %}"/>
<h2>
	Add a new post:
</h2>
{% endblock header %}

{% block content %}
<form action="{% url 'new_post' %}" method="post" class="form">
	{% csrf_token %}
	{% bootstrap_form post %}
	
	{% buttons %}
	<button name="submit" class="btn btn-primary">
		Add Entry
	</button>
	{% endbuttons %}
	
</form>
{% endblock content %}