input[type='text']{
	color: black !important;
}

#yt_shuffler{
	top:0;
	height:100%;
	display:block;
	margin-right:auto;
	margin-left:auto;
}
#yt_fullscreen{
	position:absolute;
	top:5%;
	left:0px;
	bottom:0px;
	width:100%;
	height:100%;
	border:none;
	margin:0;
	padding:0;
	overflow:hidden;
	z-index:999998;
}
#fullscreen-clicked{
	z-index:999999;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
}
.playlist-container{
	padding:0;
	margin:0;
}
.playlist-container:nth-child(2){
	overflow-x:scroll;
}
.playlist-table{
	margin-bottom:0;
}
.data-img{
	height:25%;
	margin-top:0%;
	left:0px;
	border-radius:5%;
}
.playlist-container::-webkit-scrollbar {
    width: 12px;
}
 
.playlist-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.playlist-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}