{% extends 'blogs/index.html' %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block header %}
	<link rel="stylesheet" href="{% static 'blogs/css/input_styles.css' %}"/>
<h2>
	Log in to your account.
</h2>
{% endblock header %}

{% block content %}
	<form method='post' action='{% url "login" %}' class='form'>
		{% csrf_token %}
		{% bootstrap_form form %}
		
		{% buttons %}
		<button name="submit" class="btn btn-primary">Login</button>
		{% endbuttons %}
		
		<input type="hidden" name='next' value='{% url "index" %}'/>
	</form>
{% endblock content %}