{% extends 'blogs/index.html' %}

{% load bootstrap3 %}

{% load staticfiles %}
{% block header %}
	<link rel="stylesheet" href="{% static 'blogs/css/input_styles.css' %}"/>
<h2>
	Key request
</h2>
{% endblock header %}

{% block content %}
	<div class='container'>
		<h3>
			Hello!  I'd really like to get to know you if you're looking to create
			an account on my site.  Email in below and I'll send you a key.
		</h3>

		<form method='post' action='{% url "send-email" %}' class='form'>
			{% csrf_token %}
			<label for="email-to">Email Address</label>
			<input name="email-to" type="email" class="form-control" id="email-to" placeholder="Enter email">
			
			{% buttons %}
			<button name="submit" class="btn btn-primary">Request Key</button>
			{% endbuttons %}
			
			<input type="hidden" name='next' value='{% url "thank-you" %}'/>
		</form>
	</div>
	
	<div class='container'>
		<h3>
			Already have a key?  Please input your key.
		</h3>
		<form method='post' action='{% url "send-email" %}' class='form'>
			{% csrf_token %}
			<label for="given-key">Key</label>
			<input name="given-key" type="text" class="form-control" id="given-key" placeholder="Your key">
			
			{% buttons %}
			<button name="submit" class="btn btn-primary">Verify Key</button>
			{% endbuttons %}
			
			<input type="hidden" name='next' value='{% url "register" %}'/>
		</form>
	</div>
{% endblock content %}