{% extends 'blogs/index.html' %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block header %}
	<link rel="stylesheet" href="{% static 'blogs/css/input_styles.css' %}"/>
<h2>
	Request Entered!
</h2>
{% endblock header %}

{% block content %}
	<div class='container'>
		<h3>
			Thank you for visiting my site!  I'll try to get back to you as soon
			as I can.
		</h3	
	</div>
{% endblock content %}