{% extends 'blogs/index.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block header %}
<link rel="stylesheet" href="{% static 'blogs/css/blogs_styles.css' %}"/>
<h1>
	Documentation
</h1>
{% endblock header %}
{% block content %}
<ul>
	<div class ="panel panel-default">
		<div class="panel-heading">
			<h3>
				The API so far...
			</h3>
		</div>
		<div class ="panel-body">
			<h4>
				At the moment, the api will let you retrieve the last 20 blogposts at max.  Each entry comes with the following data:
			</h4>
			<ul class="list-group">
				<li class="list-group-item list-group-item-success" id='code'>date_added</li>
				<li class="list-group-item list-group-item-info">Returns the date a blogpost was added based on datetime.datetime Python module.</li>
			</ul>
			<ul class="list-group">
				<li class="list-group-item list-group-item-success" id='code'>resource_uri</li>
				<li class="list-group-item list-group-item-info">Direct uri for the specified blogpost.</li>
			</ul>
			<ul class="list-group">
				<li class="list-group-item list-group-item-success" id='code'>text</li>
				<li class="list-group-item list-group-item-info">Body of the blogpost.</li>
			</ul>
			<ul class="list-group">
				<li class="list-group-item list-group-item-success" id='code'>title</li>
				<li class="list-group-item list-group-item-info">Title of the blogpost.</li>
			</ul>
			<hr>
			<div class="alert alert-danger" role="alert">
			  NOTE: At the moment, You need to be a user to use the API!
			</div>
		</div>
	</div>
</ul>
<ul>
	<div class ="panel panel-default">
		<div class="panel-heading">
			<h3>
				Example call:
			</h3>
		</div>
		<div class ="panel-body">
			<div class = "alert alert-success" id='code' role="alert">
				>>> import requests
				<br/>
				>>> from requests.auth import HTTPBasicAuth
				<br/>
				>>> auth = HTTPBasicAuth(&#60;your_username&#62;, &#60;your_password&#62;)
				<br/>
				>>> r = requests.get("https://lh-django-blog.herokuapp.com/api/v1/blogposts/2/", auth=auth)
				<br/>
				>>> r.text
				<br/>
				"{"date_added": "2018-04-29T16:29:51.327612", "resource_uri": "/api/blogposts/2/", "text": "...just had to check.", "title": "Second post"}"
			</div>
		</div>
	</div>
</ul>
<script src="{% static 'blogs/js/fadeInLoad.js' %}"></script>
{% endblock content %}