.modal {
	position: absolute;
	right: auto;
	bottom: auto;
	z-index:-20;
}
.blackTextOverride, tr *, .blackTextOverride *{
	color: black !important;
}
.modal-dialog{
	overflow-y: initial !important;
}
.modal-body{
	margin:5px;
	padding:25px;
	overflow-y:auto;
	height:400px;
	opacity:0;
	border-top: 2.5px inset #6190A4;
	border-left: 2.5px inset #6190A4;
	border-bottom: 2.5px inset #72a1b5;
	border-right: 2.5px inset #72a1b5;
	border-radius: 5px;
	background-color: white;
}
.modal-header, .modal-footer, .modal-content{
	background-color:#6190A4;
	border-top:none;
	border-bottom:none;
}
.modal-footer{
	border-radius:5px;
}
.aMod{
	text-align:center;
}
.btn-group{
	float: none;
	margin: 0 auto;
}
img{
	border-radius:5px;
}
.mCon{
	width:40px;
	height:40px;
	-webkit-animation-name: spin;
	-webkit-animation-duration: 1s;
	-moz-animation-name: spin;
	-moz-animation-duration: 1s;
	animation-name: spin;
	animation-duration: 1s;
}
::-webkit-scrollbar {
    width: 7.5px;
}
/* Track */
::-webkit-scrollbar-track {
	background-color: #72a1b5;
    box-shadow: inset 0 0 5px #72a1b5; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	background-color: black;
    border-radius: 10px;
	border: 12px black;
}

/* started from https://stackoverflow.com/questions/14859322/css3-spin-animation */
@-moz-keyframes spin {
    0% 		{ -moz-transform: rotate(0deg); }
	33%		{ -moz-transform: rotate(45deg); }
	66%		{ -moz-transform: rotate(-45deg); }
    100% 	{ -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin {
    0% 		{ -webkit-transform: rotate(0deg); }
	33%		{ -webkit-transform: rotate(45deg); }
	66%		{ -webkit-transform: rotate(-45deg); }
    100% 	{ -webkit-transform: rotate(0deg); }
}
@keyframes spin {
    0% 		{ transform: rotate(0deg); }
	33%		{ transform: rotate(45deg); }
	66%		{ transform: rotate(-45deg); }
    100% 	{ transform: rotate(0deg); }
}