*{
	color:white !important;
	font-family: 'Abel', sans-serif;
	font-variant-ligatures: none;
}
body{
	background-color: #6190A4;
}
.center-element{
	margin: 0 auto;
}
#code{
	font-family: 'Inconsolata', monospace;
	color:white !important;
	background-color: black;
}
.navbar{
	-webkit-animation-name: navLeave;
	-webkit-animation-duration: 0.25s;
	-moz-animation-name: navLeave;
	-moz-animation-duration: 0.25s;
	animation-name: navLeave;
	animation-duration: 0.25s;
	background-color:#6CA0B5;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border: none;
	box-shadow: 7.5px 5px 5px #4E81A0;
}
.navbar:hover{
	-webkit-animation-name: navHover;
	-webkit-animation-duration: 0.25s;
	-moz-animation-name: navHover;
	-moz-animation-duration: 0.25s;
	animation-name: navHover;
	animation-duration: 0.25s;
	box-shadow: 15px 10px 10px #4E81A0;
}
.nav-text{
	padding:5px;
}
.nav-text:hover{
	color:white !important;
	background-color:#7cb4c5 !important;
	border-radius:5px;
}
.nav-text:hover *{
	color:white !important;
	text-decoration:none;
	background-color:#7cb4c5 !important;
}
.dropdown-menu{
	background-color:#6CA0B5;
}
.dDown:hover{
	font-size:125%;
}
.panel:hover{
	-webkit-animation-name: panelHover;
	-webkit-animation-duration: 0.25s;
	-moz-animation-name: panelHover;
	-moz-animation-duration: 0.25s;
	animation-name: panelHover;
	animation-duration: 0.25s;
	box-shadow: -5px 5px 1px rgba(0,0,0,.05);
}
.panel{
	-webkit-animation-name: panelLeave;
	-webkit-animation-duration: 0.25s;
	-moz-animation-name: panelLeave;
	-moz-animation-duration: 0.25s;
	animation-name: panelLeave;
	animation-duration: 0.25s;
	background-color: rgba(0,0,0,0);
	border:none;
}
.panel *{
	color: black !important;
}
.panel-heading{
	background-color:#6CA0B5 !important;
	border:none;
	border-radius:5px;
}
#incomingLeft{
	-webkit-animation-name: flyInFromLeft;
	-webkit-animation-duration: 0.5s;
	-moz-animation-name: flyInFromLeft;
	-moz-animation-duration: 0.5s;
	animation-name: flyInFromLeft;
	animation-duration: 0.5s;
}
/* used mainly on home.html */ 
#stretch{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
}
#draw-here{
	position:fixed;
	z-index:-1;
}
.text-box{
	position:fixed;
	z-index:1;
}
#display-here{
	top:10%;
	left:10%;
	background-color:rgba(,0,0,0);
	border-radius:15px;
	border: 7.5px double black;
}
#write-here{
	top:80%;
	left:10%;
	border-radius:15px;
}
#canvasCursor{
	z-index:2;
	position:relative;
	top:80%;
	/* diable auto zoom in */
	font-size: 20px;
	/*
	left:0%;
	
		Loaded message is "Hello!" so start position is:
			start = min + 7.5 * 6
		1 char = 16, 2 char = 23.5, 3 char =  31
		min = 16; to next = 7.5; max = min + 7.5 * 9
	*/
	height: 4%;
	width: 0.5%;
	background-color:white;
	border: none;
	-webkit-animation-name: blink;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-name: blink;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
	animation-name: blink;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	color:transparent;
	caret-color: rgba(255, 0, 0, 0);
}
#cmd-display{
	position:fixed;
	width:20%;
	height:99%;
	left:100%;
	top:0.05%;
	border-radius: 5px 0 0 5px;
	border: 5px double black;
}
#warning{
	position:fixed;
	background-color:red;
	z-index: 99;
	border-radius:10px;
	border: 5px double black;
	text-align:center;
	font-family: 'Inconsolata', sans-serif;
}
/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 7.5px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
}

/* animations */
@-webkit-keyframes navLeave{
	0%		{ box-shadow: 15px 10px 10px #4E81A0;}
	20%		{ box-shadow: 13.5px 9px 9px #4E81A0;}
	40%		{ box-shadow: 11px 8px 8px #4E81A0;}
	60%		{ box-shadow: 9.5px 7px 7px #4E81A0;}
	80%		{ box-shadow: 8px 6px 6px #4E81A0;}
	100%	{ box-shadow: 7.5px 5px 5px #4E81A0;}
}
@-moz-keyframes navLeave{
	0%		{ box-shadow: 15px 10px 10px #4E81A0;}
	20%		{ box-shadow: 13.5px 9px 9px #4E81A0;}
	40%		{ box-shadow: 11px 8px 8px #4E81A0;}
	60%		{ box-shadow: 9.5px 7px 7px #4E81A0;}
	80%		{ box-shadow: 8px 6px 6px #4E81A0;}
	100%	{ box-shadow: 7.5px 5px 5px #4E81A0;}
}
@keyframes navLeave{
	0%		{ box-shadow: 15px 10px 10px #4E81A0;}
	20%		{ box-shadow: 13.5px 9px 9px #4E81A0;}
	40%		{ box-shadow: 11px 8px 8px #4E81A0;}
	60%		{ box-shadow: 9.5px 7px 7px #4E81A0;}
	80%		{ box-shadow: 8px 6px 6px #4E81A0;}
	100%	{ box-shadow: 7.5px 5px 5px #4E81A0;}
}

@-webkit-keyframes navHover{
	0%		{ box-shadow: 7.5px 5px 5px #4E81A0;}
	20%		{ box-shadow: 8px 6px 6px #4E81A0;}
	40%		{ box-shadow: 9.5px 7px 7px #4E81A0;}
	60%		{ box-shadow: 11px 8px 8px #4E81A0;}
	80%		{ box-shadow: 13.5px 9px 9px #4E81A0;}
	100%	{ box-shadow: 15px 10px 10px #4E81A0;}
}
@-moz-keyframes navHover{
	0%		{ box-shadow: 7.5px 5px 5px #4E81A0;}
	20%		{ box-shadow: 8px 6px 6px #4E81A0;}
	40%		{ box-shadow: 9.5px 7px 7px #4E81A0;}
	60%		{ box-shadow: 11px 8px 8px #4E81A0;}
	80%		{ box-shadow: 13.5px 9px 9px #4E81A0;}
	100%	{ box-shadow: 15px 10px 10px #4E81A0;}
}
@keyframes navHover{
	0%		{ box-shadow: 7.5px 5px 5px #4E81A0;}
	20%		{ box-shadow: 8px 6px 6px #4E81A0;}
	40%		{ box-shadow: 9.5px 7px 7px #4E81A0;}
	60%		{ box-shadow: 11px 8px 8px #4E81A0;}
	80%		{ box-shadow: 13.5px 9px 9px #4E81A0;}
	100%	{ box-shadow: 15px 10px 10px #4E81A0;}
}
@-webkit-keyframes fadeIn{
	0%		{opacity:0%;}
	25%		{opacity:25%;}
	50%		{opacity:50%;}
	75%		{opacity:75%;}
	100%	{opacity:100%;}
}
@-moz-keyframes fadeIn{
	0%		{opacity:0%;}
	25%		{opacity:25%;}
	50%		{opacity:50%;}
	75%		{opacity:75%;}
	100%	{opacity:100%;}
}
@keyframes fadeIn{
	0%		{opacity:0%;}
	25%		{opacity:25%;}
	50%		{opacity:50%;}
	75%		{opacity:75%;}
	100%	{opacity:100%;}
}
@-webkit-keyframes panelHover{
	0%		{ box-shadow: -1px 1px 1px rgba(0,0,0,.05);}
	10%		{ box-shadow: -1.5px 1.5px 1px rgba(0,0,0,.05);}
	20%		{ box-shadow: -2px 2px 1px rgba(0,0,0,.05);}
	30%		{ box-shadow: -2.5px 2.5px 1px rgba(0,0,0,.05);}
	40%		{ box-shadow: -3px 3px 1px rgba(0,0,0,.05);}
	50%		{ box-shadow: -3.5px 3.5px 1px rgba(0,0,0,.05);}
	60%		{ box-shadow: -4px 4px 1px rgba(0,0,0,.05);}
	70%		{ box-shadow: -4.5px 4.5px 1px rgba(0,0,0,.05);}
	80%		{ box-shadow: -5px 5px 1px rgba(0,0,0,.05);}
	90%		{ box-shadow: -5.5px 5.5px 1px rgba(0,0,0,.05);}
	100%	{ box-shadow: -6px 6px 1px rgba(0,0,0,.05);}
}
@-moz-keyframes panelHover{
	0%		{ box-shadow: -1px 1px 1px rgba(0,0,0,.05);}
	10%		{ b ox-shadow: -1.5px 1.5px 1px rgba(0,0,0,.05);}
	20%		{ box-shadow: -2px 2px 1px rgba(0,0,0,.05);}
	30%		{ box-shadow: -2.5px 2.5px 1px rgba(0,0,0,.05);}
	40%		{ box-shadow: -3px 3px 1px rgba(0,0,0,.05);}
	50%		{ box-shadow: -3.5px 3.5px 1px rgba(0,0,0,.05);}
	60%		{ box-shadow: -4px 4px 1px rgba(0,0,0,.05);}
	70%		{ box-shadow: -4.5px 4.5px 1px rgba(0,0,0,.05);}
	80%		{ box-shadow: -5px 5px 1px rgba(0,0,0,.05);}
	90%		{ box-shadow: -5.5px 5.5px 1px rgba(0,0,0,.05);}
	100%	{ box-shadow: -6px 6px 1px rgba(0,0,0,.05);}
}
@keyframes panelHover{
	0%		{ box-shadow: -1px 1px 1px rgba(0,0,0,.05);}
	10%		{ b ox-shadow: -1.5px 1.5px 1px rgba(0,0,0,.05);}
	20%		{ box-shadow: -2px 2px 1px rgba(0,0,0,.05);}
	30%		{ box-shadow: -2.5px 2.5px 1px rgba(0,0,0,.05);}
	40%		{ box-shadow: -3px 3px 1px rgba(0,0,0,.05);}
	50%		{ box-shadow: -3.5px 3.5px 1px rgba(0,0,0,.05);}
	60%		{ box-shadow: -4px 4px 1px rgba(0,0,0,.05);}
	70%		{ box-shadow: -4.5px 4.5px 1px rgba(0,0,0,.05);}
	80%		{ box-shadow: -5px 5px 1px rgba(0,0,0,.05);}
	90%		{ box-shadow: -5.5px 5.5px 1px rgba(0,0,0,.05);}
	100%	{ box-shadow: -6px 6px 1px rgba(0,0,0,.05);}
}

@-webkit-keyframes panelLeave{
	0%		{ box-shadow: -6px 6px 1px rgba(0,0,0,.05);}
	10%		{ box-shadow: -5.5px 5.5px 1px rgba(0,0,0,.05);}
	20%		{ box-shadow: -5px 5px 1px rgba(0,0,0,.05);}
	30%		{ box-shadow: -4.5px 4.5px 1px rgba(0,0,0,.05);}
	40%		{ box-shadow: -4px 4px 1px rgba(0,0,0,.05);}
	50%		{ box-shadow: -3.5px 3.5px 1px rgba(0,0,0,.05);}
	60%		{ box-shadow: -3px 3px 1px rgba(0,0,0,.05);}
	70%		{ box-shadow: -2.5px 2.5px 1px rgba(0,0,0,.05);}
	80%		{ box-shadow: -2px 2px 1px rgba(0,0,0,.05);}
	90%		{ box-shadow: -1.5px 1.5px 1px rgba(0,0,0,.05);}
	100%	{ box-shadow: -1px 1px 1px rgba(0,0,0,.05);}
}
@-moz-keyframes panelLeave{
	0%		{ box-shadow: -6px 6px 1px rgba(0,0,0,.05);}
	10%		{ box-shadow: -5.5px 5.5px 1px rgba(0,0,0,.05);}
	20%		{ box-shadow: -5px 5px 1px rgba(0,0,0,.05);}
	30%		{ box-shadow: -4.5px 4.5px 1px rgba(0,0,0,.05);}
	40%		{ box-shadow: -4px 4px 1px rgba(0,0,0,.05);}
	50%		{ box-shadow: -3.5px 3.5px 1px rgba(0,0,0,.05);}
	60%		{ box-shadow: -3px 3px 1px rgba(0,0,0,.05);}
	70%		{ box-shadow: -2.5px 2.5px 1px rgba(0,0,0,.05);}
	80%		{ box-shadow: -2px 2px 1px rgba(0,0,0,.05);}
	90%		{ box-shadow: -1.5px 1.5px 1px rgba(0,0,0,.05);}
	100%	{ box-shadow: -1px 1px 1px rgba(0,0,0,.05);}
}
@keyframes panelLeave{
	0%		{ box-shadow: -6px 6px 1px rgba(0,0,0,.05);}
	10%		{ box-shadow: -5.5px 5.5px 1px rgba(0,0,0,.05);}
	20%		{ box-shadow: -5px 5px 1px rgba(0,0,0,.05);}
	30%		{ box-shadow: -4.5px 4.5px 1px rgba(0,0,0,.05);}
	40%		{ box-shadow: -4px 4px 1px rgba(0,0,0,.05);}
	50%		{ box-shadow: -3.5px 3.5px 1px rgba(0,0,0,.05);}
	60%		{ box-shadow: -3px 3px 1px rgba(0,0,0,.05);}
	70%		{ box-shadow: -2.5px 2.5px 1px rgba(0,0,0,.05);}
	80%		{ box-shadow: -2px 2px 1px rgba(0,0,0,.05);}
	90%		{ box-shadow: -1.5px 1.5px 1px rgba(0,0,0,.05);}
	100%	{ box-shadow: -1px 1px 1px rgba(0,0,0,.05);}
}
@-webkit-keyframes flyInFromLeft{
	0%		{margin-left:-80%;}
	25%		{margin-left:-60%;}
	50%		{margin-left:-40%;}
	75%		{margin-left:-20%;}
	100%	{margin-left:0%;}
}
@-moz-keyframes flyInFromLeft{
	0%		{margin-left:-80%;}
	25%		{margin-left:-60%;}
	50%		{margin-left:-40%;}
	75%		{margin-left:-20%;}
	100%	{margin-left:0%;}
}
@keyframes flyInFromLeft{
	0%		{margin-left:-80%;}
	25%		{margin-left:-60%;}
	50%		{margin-left:-40%;}
	75%		{margin-left:-20%;}
	100%	{margin-left:0%;}
}

@-webkit-keyframes canvasButtonGrad{
	0%		{background: radial-gradient(white 0%, black 0%, white 0%);}
	10%		{background: radial-gradient(white 0%, black 0%, white 0%);}
	11%		{background: radial-gradient(white 0%, black 10%, white 20%);}
	12%		{background: radial-gradient(white 10%, black 20%, white 30%);}
	13%		{background: radial-gradient(white 20%, black 30%, white 40%);}
	14%		{background: radial-gradient(white 30%, black 40%, white 50%);}
	15%		{background: radial-gradient(white 40%, black 50%, white 60%);}
	16%		{background: radial-gradient(white 50%, black 60%, white 70%);}
	17%		{background: radial-gradient(white 60%, black 70%, white 80%);}
	18%		{background: radial-gradient(white 70%, black 80%, white 90%);}
	19%		{background: radial-gradient(white 80%, black 90%, white 100%);}
	20%		{background: radial-gradient(white 90%, black 100%, white 0%);}
	21%		{background: radial-gradient(white 0%, black 0%, white 0%);}
}
@-moz-keyframes canvasButtonGrad{
	0%		{background: radial-gradient(white 0%, black 0%, white 0%);}
	10%		{background: radial-gradient(white 0%, black 0%, white 0%);}
	11%		{background: radial-gradient(white 0%, black 10%, white 20%);}
	12%		{background: radial-gradient(white 10%, black 20%, white 30%);}
	13%		{background: radial-gradient(white 20%, black 30%, white 40%);}
	14%		{background: radial-gradient(white 30%, black 40%, white 50%);}
	15%		{background: radial-gradient(white 40%, black 50%, white 60%);}
	16%		{background: radial-gradient(white 50%, black 60%, white 70%);}
	17%		{background: radial-gradient(white 60%, black 70%, white 80%);}
	18%		{background: radial-gradient(white 70%, black 80%, white 90%);}
	19%		{background: radial-gradient(white 80%, black 90%, white 100%);}
	20%		{background: radial-gradient(white 90%, black 100%, white 0%);}
	21%		{background: radial-gradient(white 0%, black 0%, white 0%);}
}
@keyframes canvasButtonGrad{
	0%		{background: radial-gradient(white 0%, black 0%, white 0%);}
	10%		{background: radial-gradient(white 0%, black 0%, white 0%);}
	11%		{background: radial-gradient(white 0%, black 10%, white 20%);}
	12%		{background: radial-gradient(white 10%, black 20%, white 30%);}
	13%		{background: radial-gradient(white 20%, black 30%, white 40%);}
	14%		{background: radial-gradient(white 30%, black 40%, white 50%);}
	15%		{background: radial-gradient(white 40%, black 50%, white 60%);}
	16%		{background: radial-gradient(white 50%, black 60%, white 70%);}
	17%		{background: radial-gradient(white 60%, black 70%, white 80%);}
	18%		{background: radial-gradient(white 70%, black 80%, white 90%);}
	19%		{background: radial-gradient(white 80%, black 90%, white 100%);}
	20%		{background: radial-gradient(white 90%, black 100%, white 0%);}
	21%		{background: radial-gradient(white 0%, black 0%, white 0%);}
}
@-webkit-keyframes raiseTowards{
	0%		{ box-shadow: 0px 0px 10px 1px #1F241E; }
	25%		{ box-shadow: 0px 0px 10px 2px #1F241E; }
	50%		{ box-shadow: 0px 0px 10px 3px #1F241E; }
	75%		{ box-shadow: 0px 0px 10px 4px #1F241E; }
	100%	{ box-shadow: 0px 0px 10px 5px #1F241E; }
}
@-moz-keyframes raiseTowards{
	0%		{ box-shadow: 0px 0px 10px 1px #1F241E; }
	25%		{ box-shadow: 0px 0px 10px 2px #1F241E; }
	50%		{ box-shadow: 0px 0px 10px 3px #1F241E; }
	75%		{ box-shadow: 0px 0px 10px 4px #1F241E; }
	100%	{ box-shadow: 0px 0px 10px 5px #1F241E; }
}
@keyframes raiseTowards{
	0%		{ box-shadow: 0px 0px 10px 1px #1F241E; }
	25%		{ box-shadow: 0px 0px 10px 2px #1F241E; }
	50%		{ box-shadow: 0px 0px 10px 3px #1F241E; }
	75%		{ box-shadow: 0px 0px 10px 4px #1F241E; }
	100%	{ box-shadow: 0px 0px 10px 5px #1F241E; }
}
@-webkit-keyframes fallBack{
	0%		{ box-shadow: 0px 0px 10px 5px #1F241E; }
	25%		{ box-shadow: 0px 0px 10px 4px #1F241E; }
	50%		{ box-shadow: 0px 0px 10px 3px #1F241E; }
	75%		{ box-shadow: 0px 0px 10px 2px #1F241E; }
	100%	{ box-shadow: 0px 0px 10px 1px #1F241E; }
}
@-moz-keyframes fallBack{
	0%		{ box-shadow: 0px 0px 10px 5px #1F241E; }
	25%		{ box-shadow: 0px 0px 10px 4px #1F241E; }
	50%		{ box-shadow: 0px 0px 10px 3px #1F241E; }
	75%		{ box-shadow: 0px 0px 10px 2px #1F241E; }
	100%	{ box-shadow: 0px 0px 10px 1px #1F241E; }
}
@keyframes fallBack{
	0%		{ box-shadow: 0px 0px 10px 5px #1F241E; }
	25%		{ box-shadow: 0px 0px 10px 4px #1F241E; }
	50%		{ box-shadow: 0px 0px 10px 3px #1F241E; }
	75%		{ box-shadow: 0px 0px 10px 2px #1F241E; }
	100%	{ box-shadow: 0px 0px 10px 1px #1F241E; }
}

/* canvas.html cursor animation */
@-webkit-keyframes blink{
	0%		{ background-color:white;}
	50%		{ background-color:black;}
	100%	{ background-color:white;}
}
@-moz-keyframes blink{
	0%		{ background-color:white;}
	50%		{ background-color:black;}
	100%	{ background-color:white;}
}

@keyframes blink{
	0%		{ background-color:white;}
	50%		{ background-color:black;}
	100%	{ background-color:white;}
}