@media screen and (min-width: 768px) {
	#chatModal, #myModal {
		position: absolute;
		top:50%;
		left: 25%;
		right: auto;
		bottom: auto;
		width: auto;
	}
}
#modalMsg, #modalMsgData, th, .close, td, input[type=text], #chatText, #wordCount, #wordCount *{
	color:black !important;
}
canvas{
	border-radius:5px;
}