{% extends 'blogs/index.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block header %}
	<link rel="stylesheet" href="{% static 'stock_ticker/css/styles.css' %}"/>
{% endblock header %}
{% block content %}
<div class = "container">
		<div class = "panel panel-default">
			<div class = "panel-heading">
				<h1 class ="text-center">
					Stock Ticker
					<button class="btn btn-primary pull-right" id="chatPullUp">
						<span class="pull-left">Chat</span>
						<span class='badge pull-right' id="msgBadge"></span>
					</button>
				</h1>
			</div>
			<div class="panel-body" id="addChart">
				<div id="my-input-forms">
					<span class="input-group-addon" id="basic-addon1">
						<div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle"
								data-toggle="dropdown" aria-haspopup="true" id="my-dropdown"
								aria-expanded="false" aria-describedby="basic-addon1">
								Single Query
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li id="single"><a href="#">Single Query</a></li>
								<li id="compare"><a href="#">Comparison Query</a></li>
							</ul>
						</div>
					</span>
					<div class="input-group input-group-lg" style="width:100%" id="add-remove">
						<input type="text" class="form-control input-lg" id="ticker-query1"
							placeholder="Ticker" />
					</div>
				</div>
				<button type="submit" class="btn btn-primary btn-block" id="query-submit">Submit</button>
				<table class="table table-hover" id = "dataAdd"></table>
				<canvas id="chart1"></canvas>
				<canvas id="chart2"></canvas>
			</div>
		</div>
		
		<div class="modal fade" role="dialog" data-backdrop="false" id="chatModal">
			<div class="modal-dialog" >
			  <div class="modal-content">
				<div class="modal-header" id="c-modal-header">
					<h4 class="modal-title text-center" id="modalMsg">Chat<button type="button" class="close" data-dismiss="modal">&times;</button></h4>
				</div>
				<div class="modal-body">
					<table class="table" id="chatAdd">
						<tbody>
							<tr class="warning">
								<th>
									Notice
								</th>
								<th>
									Please be civil in the chat room.
								</th>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<div class="row">
						<div class="col-xs-6 col-md-4 pull-left">
							<input type="text" class="form-control" id="user" placeholder="Your Name"/>
						</div>
						<div class="col-xs-12 col-md-8 pull-right">
							<textarea class="form-control" id='chatText' placeholder="Say Something"></textarea>
						</div>
					</div>
					<div class='pull-right'>
						<h3 id='wordCount'><small id="numCharsInBox">0</small>/500</h3>
					</div>
					<button class='btn btn-block btn-primary pull-right' id="chat-send">Send</button>
				</div>
			  </div>
			  
			</div>
		</div>
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

			  <div class="modal-content">
				<div class="modal-header">
				  <h4 class="modal-title text-center" id="modalMsgData">Getting data...</h4>
				</div>
				<div class="modal-body">
				  <img src='https://i.imgur.com/Z4E0qbC.gif' id="loading" class="img-responsive img-rounded" style="margin: 0 auto;"/>
				</div>
				<div class="modal-footer">
				</div>
			  </div>
			  
			</div>
		</div>
	</div>
</body>
<script>
	$("#chatModal").draggable({
		handle: '#c-modal-header'
	}); 
	// 0 == text no percents, 1 == danger (percent decrease), 2 == success (percent increase), 3 == chat no percent
	function makeRow(msg, table, val, row_type){
		if(msg == "ERROR") $('#myModal').modal('hide');
		switch(row_type){
			case 0:
				table.innerHTML += "<tr class='danger'><th>" + msg + "</th><th>" + val + "</th></tr>";
				break;
			case 1:
				table.innerHTML += "<tr class='danger'><th>" + msg + "</th><th>" + val + "%</th></tr>";
				break;
			case 2:
				table.innerHTML += "<tr class='success'><th>" + msg + "</th><th>" + val + "%</th></tr>";
				break;
			case 3:
				table.innerHTML += "<tr class='info'><th>" + msg + " says...</th><th>" + val + "</th></tr>";
				break;
			default:
				console.log("ERROR: row creation");
				break;
		}
	}
	var re = /localhost/;
	var tickerSocket, chatSocket;
	if(!re.test(window.location.href)){
		tickerSocket = new WebSocket(
			'wss://' + window.location.host + 
			'/wss/portfolio/projects/ticker/');
		chatSocket = new WebSocket(
			'wss://' + window.location.host +
			'/wss/portfolio/projects/stock_chat');
	}else{
		tickerSocket = new WebSocket(
			'ws://' + window.location.host +
			'/ws/portfolio/projects/ticker/');
		chatSocket = new WebSocket(
			'ws://' + window.location.host +
			'/ws/portfolio/projects/stock_chat');
	}
		
	var stockDataTable = document.getElementById('dataAdd');
	var chatTable = document.getElementById('chatAdd');
	var g_1 = document.getElementById('chart1');
	var g_2 = document.getElementById('chart2');
	
    tickerSocket.onmessage = function(e) {
		console.log('received');
		$('#myModal').modal('hide');
		stockDataTable.innerHTML = "";
		stockDataTable.innerHTML = "<thead><tr><th>Ticker</th><th>Percent Change</th></tr></thead>";
	
        var data = JSON.parse(e.data);
        var message = JSON.parse(data['message']);
		var keys = Object.getOwnPropertyNames(message);
		// error
		if(keys.indexOf("symbol") != -1){
			$('#myModal').modal('hide');
			makeRow(message[keys[0]], stockDataTable, message[keys[1]], 0);
			return;
		}
		var high_low = {};
		high_low[keys[0]] = {'high':message[keys[0]]['high'], 'low':message[keys[0]]['low']};
		delete message[keys[0]]['high'];
		delete message[keys[0]]['low'];
		var x_keys = Object.keys(message[keys[0]]);
		var t1_vals = Object.values(message[keys[0]]).reverse();
		
		stockDataTable.innerHTML += "<tbody>";
		var t1_percent_change = (((t1_vals[t1_vals.length-1] - t1_vals[0])/t1_vals[0]) * 100).toFixed(2);
		(t1_percent_change < 0) ? makeRow(keys[0], stockDataTable, t1_percent_change, 1) : makeRow(keys[0], stockDataTable, t1_percent_change, 2);
		
		if(keys.length > 1){
			high_low[keys[1]] = {'high':message[keys[1]]['high'], 'low':message[keys[1]]['low']};
			delete message[keys[1]]['high'];
			delete message[keys[1]]['low'];
			
			var t2_vals = Object.values(message[keys[1]]).reverse();
			
			var t2_percent_change = (((t2_vals[t2_vals.length-1] - t2_vals[0])/t2_vals[0]) * 100).toFixed(2);
			(t2_percent_change < 0) ? makeRow(keys[1], stockDataTable, t2_percent_change, 1) : makeRow(keys[1], stockDataTable, t2_percent_change, 2);
		}
		
		stockDataTable.innerHTML += "</tbody>";
		
		//create charts
		if(x_keys.length > 6 && t1_vals != []){
			var ctx = g_1.getContext('2d');
			var chart1 = new Chart(ctx, {
				type: 'line',
				
				data:{
					labels: x_keys.reverse(),
					datasets: [{
						radius: 0,
						fill: false,
						label: "Value of " + keys[0],
						backgroundColor: 'rgb(255, 102, 102)',
						borderColor: 'rgb(255, 102, 102)',
						data: t1_vals,
					}],
				},
				
				options:{
					legend:{
						display: true,
						labels:{
							fontColor:'rgb(0,0,0)'
						}
					},
					tooltips:{
						mode:'nearest'
					},
				}
			});
			$('#myModal').modal('hide');
			g_1.style.backgroundColor = 'rgba(255,255,255,255)';
		}else{
			console.log("You've got nothing to print, my dude.");
		}
		if(t2_vals != undefined){
			var ctx = g_2.getContext('2d');
			var chart2 = new Chart(ctx, {
				type: 'line',
				data:{
					labels: x_keys.reverse(),
					datasets: [{
						radius: 0,
						fill: false,
						label: "Value of " + keys[1],
						backgroundColor: 'rgba(255, 255, 255, 1.0)',
						borderColor: 'rgb(102, 102, 255)',
						data: t2_vals,
					}],
				},
				
				options:{
					tooltips:{
						mode:'nearest'
					},
				}
			});
		}
		// Hook into main event handler
		var parentEventHandler = Chart.Controller.prototype.eventHandler;
		Chart.Controller.prototype.eventHandler = function() {
			var ret = parentEventHandler.apply(this, arguments);
			
			this.clear();
			this.draw();

			var yScale = this.scales['y-axis-0'];
			var xScale = this.scales['x-axis-0'];
			
			var ytop = this.chart.controller.chartArea.top;
			var ybottom = this.chart.controller.chartArea.bottom;
			var ymin = this.scales['y-axis-0'].min;
			var ymax = this.scales['y-axis-0'].max;
			var newy = '';
			var showstuff = 0;
			if (event.offsetY <= ybottom && event.offsetY >= ytop) {
				newy = Math.abs((event.offsetY - ytop) / (ybottom - ytop));
				newy = (newy - 1) * -1;
				newy = newy * (Math.abs(ymax - ymin)) + ymin;
				showstuff = 1;
			}
			var eventPosition = Chart.helpers.getRelativePosition(arguments[0], this.chart);
			this.chart.ctx.beginPath();
			var x_max = xScale.getPixelForValue(xScale.max);
			var x_min = xScale.getPixelForValue(xScale.min);
			var x_pos = 0;
			if(eventPosition.x > x_max){
				x_pos = x_max;
			}else if(eventPosition.x < x_min){
				x_pos = x_min;
			}else{
				x_pos = eventPosition.x;
			}
			this.chart.ctx.moveTo(x_pos, yScale.getPixelForValue(yScale.max));
			this.chart.ctx.strokeStyle = "#ff0000";
			this.chart.ctx.lineTo(x_pos, yScale.getPixelForValue(yScale.min));
			this.chart.ctx.closePath();
			this.chart.ctx.stroke();
			
			this.chart.ctx.beginPath();
			this.chart.ctx.strokeStyle = "#000000";
			this.chart.ctx.moveTo(x_pos, yScale.getPixelForValue(newy));
			this.chart.ctx.arc(x_pos, yScale.getPixelForValue(newy), 5, 0, 2*Math.PI);
			this.chart.ctx.fillStyle = 'black';
			this.chart.ctx.fill();
			this.chart.ctx.closePath();
			this.chart.ctx.stroke();
			if(newy){
				this.chart.ctx.fillText("Price: $" + newy.toFixed(2), x_pos + 3, yScale.getPixelForValue(newy + (newy * 0.0025)));
			}
			return ret;
		};
    };

    tickerSocket.onclose = function(e) {
		$('#myModal').modal('show');
		document.getElementById('modalMsgData').innerHTML = "Lost or could not establish connection.";
        console.error('Ticker socket closed unexpectedly');
    };
	
	$('#chatModal').on('show.bs.modal shown.bs.modal', function(){
		document.getElementById('msgBadge').innerHTML = "";
	});
	chatSocket.onmessage = function(e){
		var data = JSON.parse(e.data);
		var msg = data.stock_chat_message;
		var badge_nt = document.getElementById('msgBadge');
		if ( !$('#chatModal').hasClass('in') ){
			var n = parseInt(document.getElementById('msgBadge').innerHTML);
			(n) ? n += 1 : n = 1;
			if(n < 11){
				document.getElementById('msgBadge').innerHTML = n;
			}
		}
		if(chatTable.childElementCount > 9){
			chatTable.removeChild(chatTable.childNodes[0]);
		}
		makeRow(msg['user'], chatTable, msg['msg'], 3);
	};
	
	chatSocket.onclose = function(e) {
		$('#myModal').modal('show');
		document.getElementById('modalMsgData').innerHTML = "Lost or could not establish connection.";
		console.error('Chat socket closed unexpectedly');
	}
	
    document.querySelector('#ticker-query1').onkeyup = function(e){
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#query-submit').click();
        }
    };
	$("#chatText").on('change keyup paste', function(e) {
		if (this.value.length > 500)  this.value = this.value.substring(0, 500);
		$('#numCharsInBox')[0].innerHTML = this.value.length;
		var lines = this.value.split('\n').length - 1;
		if(lines > 3){
			if (e.keyCode === 13) document.getElementById('chat-send').click();
			return false;
		}else if(e.keyCode === 13){
			document.getElementById('chat-send').click();
			return false;
		}
	});
	
	$("#user").blur(function(e){
		if(this.value.length > 0){
			$("#user").addClass('bg-secondary');
			this.disabled = "true";
		}
	});
	
	// onclick functions
	document.querySelector('#chat-send').onclick = function(e){
		if(chatSocket.readyState != chatSocket.OPEN) return;
		var text = document.getElementById('chatText');
		var user = document.getElementById('user');
		console.log(user.value);
		if(user.value == "") {
			$('#chat-send').popover({
				"placement":'top',
				"content":"Need a user name.",
			});
			$('#chat-send').popover('show');
			return;
		}
		if(text.value == ""){
			$('#chat-send').popover({
				"placement":'top',
				"content":"You didn't say anything.",
			});
			$('#chat-send').popover('show');
			return;
		}
		chatSocket.send(
		JSON.stringify(
				{
					'stock_chat_message' : {
						'user': user.value,
						'msg': text.value,
					}
				}
			)
		);
		$('#numCharsInBox')[0].innerHTML = 0;
		text.value = "";
	};
    document.querySelector('#query-submit').onclick = function(e) {
		$('#myModal').modal('show');
		stockDataTable.innerHTML = "";
        var ticker1 = document.querySelector('#ticker-query1');
		message = [];
		if($.trim(ticker1.value) == ""){
			$('#myModal').modal('hide');
			stockDataTable.innerHTML = "";
			makeRow("ERROR", stockDataTable, "Empty query.", 0);
			return;
		}
		message.push(ticker1.value);
		if($('#ticker-query2').length){
			var ticker2 = document.querySelector('#ticker-query2');
			if($.trim(ticker2.value) == ""){
				$('#myModal').modal('hide');
				stockDataTable.innerHTML = "";
				makeRow("ERROR", stockDataTable, "Empty query.", 0);
				return;
			}
			message.push(ticker2.value);
		}
        tickerSocket.send(JSON.stringify({
            'message': message
        }));
		
        ticker1.value = '';
		if(ticker2){
			ticker2.value = '';
		}
    };
	document.querySelector('#single').onclick = function(e){
		var testing_this = document.getElementById('my-dropdown');
		testing_this.innerHTML = 'Single Query <span class="caret"></span>';
		$('#ticker-query2').remove();
		g_2.style.visibility = "hidden";
	};
	document.querySelector('#compare').onclick = function(e){
		g_2.style.visibility = "visible";
		var testing_this = document.getElementById('my-dropdown');
		testing_this.innerHTML = 'Comparison Query <span class="caret"></span>';
		document.getElementById('add-remove').innerHTML += '<input type="text" ' +
			'class="form-control input-lg" id="ticker-query2" placeholder="Ticker" />';
		
		document.querySelector('#ticker-query2').onkeyup = function(e){
			if (e.keyCode === 13) {  // enter, return
				document.querySelector('#query-submit').click();
			}
		};
		document.querySelector('#ticker-query1').onkeyup = function(e){
			if (e.keyCode === 13) {  // enter, return
				document.querySelector('#query-submit').click();
			}
		};
	};
	document.querySelector('#chatPullUp').onclick = function(e){
		$('#chatModal').modal('show');
	};
	
	
	
	// lock out on modal show
	document.addEventListener('click',function(){
		if($('#myModal')[0].offsetHeight != 0){
			event.stopPropagation();
			event.preventDefault();
		}
	}, true);
</script>
<script src="{% static 'blogs/js/fadeInLoad.js' %}"></script>
{% endblock content %}